In [136]:
import pandas as pd

In [188]:
data = pd.read_csv("train.csv")

In [191]:
data.info

<bound method DataFrame.info of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [138]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [139]:
data.shape

(614, 13)

In [140]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [141]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [142]:
data['Gender'].fillna(data['Gender'].mode()[0],inplace = True)

In [143]:
data['Married'].fillna(data['Married'].mode()[0],inplace=True)

In [144]:
data['Dependents'].fillna(data['Dependents'].mode()[0],inplace=True)

In [145]:
data['Self_Employed'].fillna(data['Self_Employed'].mode()[0],inplace=True)

In [146]:
data['LoanAmount'].fillna(data['LoanAmount'].mean()
                          ,inplace=True)

In [147]:
data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mean(),inplace=True)

In [148]:
data['Credit_History'].fillna(data['Credit_History'].mean(),inplace= True)

In [149]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [150]:
data.shape

(614, 13)

In [151]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [152]:
data['Gender'] = data['Gender'].map({'Male':0,'Female':1})

In [153]:
data['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [154]:
data['Education'] = data['Education'].map({'Graduate':0,'Not Graduate':1})

In [155]:
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [156]:
data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0})

In [157]:
data['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [158]:
data['Dependents']= data['Dependents'].map({'0':0,'1':1,'2':2,"3+":3})

In [159]:
data['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [160]:
data['Married'] = data['Married'].map({'Yes':1,'No':0})

In [161]:
data['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [162]:
data['Property_Area'] = data['Property_Area'].map({'Urban':0,'Rural':1,'Semiurban':2})

In [163]:
data.dtypes

Loan_ID               object
Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status           object
dtype: object

In [164]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,0,0,5849,0.0,146.412162,360.0,1.0,0,Y
1,LP001003,0,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,1,N
2,LP001005,0,1,0,0,1,3000,0.0,66.000000,360.0,1.0,0,Y
3,LP001006,0,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,0,Y
4,LP001008,0,0,0,0,0,6000,0.0,141.000000,360.0,1.0,0,Y

In [165]:
for i in data.columns[1:11]:
    data[i] = (data[i]-data[i].min())/(data[i].max()-data[i].min())

In [166]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0.0,0.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.74359,1.0,0,Y
1,LP001003,0.0,1.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.74359,1.0,1,N
2,LP001005,0.0,1.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.74359,1.0,0,Y
3,LP001006,0.0,1.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.74359,1.0,0,Y
4,LP001008,0.0,0.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.74359,1.0,0,Y

In [167]:
X = data.drop(['Loan_ID','Loan_Status'],axis = 1)

In [168]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.0,0.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.743590,1.0,0
1,0.0,1.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.743590,1.0,1
2,0.0,1.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.743590,1.0,0
3,0.0,1.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.743590,1.0,0
4,0.0,0.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.743590,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,0.0,0.000000,0.0,0.0,0.034014,0.000000,0.089725,0.743590,1.0,1
610,0.0,1.0,1.000000,0.0,0.0,0.048930,0.000000,0.044863,0.358974,1.0,1
611,0.0,1.0,0.333333,0.0,0.0,0.097984,0.005760,0.353111,0.743590,1.0,0
612,0.0,1.0,0.666667,0.0,0.0,0.091936,0.000000,0.257598,0.743590,1.0,0
613,1.0,0.0,0.000000,0.0,1.0,0.054830,0.000000,0.179450,0.743590,0.0,2

In [169]:
 Y = data['Loan_Status']

In [170]:
Y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [171]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.0,0.0,0.000000,0.0,0.0,0.070489,0.000000,0.198860,0.74359,1.0,0
1,0.0,1.0,0.333333,0.0,0.0,0.054830,0.036192,0.172214,0.74359,1.0,1
2,0.0,1.0,0.000000,0.0,1.0,0.035250,0.000000,0.082489,0.74359,1.0,0
3,0.0,1.0,0.000000,1.0,0.0,0.030093,0.056592,0.160637,0.74359,1.0,0
4,0.0,0.0,0.000000,0.0,0.0,0.072356,0.000000,0.191027,0.74359,1.0,0

In [172]:
from sklearn.model_selection import train_test_split

In [173]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.25,random_state = 0)

In [174]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5,metric ='minkowski',p=2 )

In [175]:
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [176]:
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [177]:
y_pred = knn.predict(x_test)

In [178]:
y_pred

array(['Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N'],
      dtype=object)

In [179]:
from sklearn.metrics import classification_report
model = classification_report(y_test,y_pred)

In [181]:
print(model)

              precision    recall  f1-score   support

           N       0.74      0.47      0.57        43
           Y       0.82      0.94      0.87       111

    accuracy                           0.81       154
   macro avg       0.78      0.70      0.72       154
weighted avg       0.80      0.81      0.79       154

In [186]:
import numpy as np
new = np.array([[0,1,3,4,1,56093,234,564,213,65,906]])

In [187]:
prediction = knn.predict(new)

C:\Users\Jothika\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(